<div>
    <call-status [callStatus]="callStatus">
    </call-status>
</div>

<div *ngIf="catalogueResponse && catalogueResponse.categoryNames.length > 0">
    <div>
        <div class="input-group form-group" style="background-color:#F2F2F2;padding-left: 25px;padding-top: 20px;padding-bottom: 20px;">
            <input  class="form-control col-3" type="text" [(ngModel)]="searchText" [ngbTypeahead]="search" placeholder="Search ...">

            <label class="space-left space-right"><strong>Category :</strong>
            </label>
            <select  class="custom-select col-3 space-right" [(ngModel)]="selectedCategory" (change)="requestCatalogue()">
                <option>All</option>
                <option *ngFor="let type of categoryNames">{{type}}</option>
            </select>

            <label class="space-right"><strong>Sort by:</strong>
            </label>
            <select  class="custom-select col-3 space-right" [(ngModel)]="sortOption" (change)="requestCatalogue()">
                <option></option>
                <option *ngFor="let option of CATALOGUE_LINE_SORT_OPTIONS" [value]="option.name">{{option.value}}</option>
            </select>

            <div class="col-1 d-flex justify-content-center">
                <ul class="nav navbar-nav">
                    <li ngbDropdown class="nav-item dropdown">
                        <button class="navbar-toggler bordered" type="button" aria-controls="navbarNavAltMarkup" ngbDropdownToggle>
                            <span class="fa fa-bars"></span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuUser" ngbDropdownMenu>
                            <input #imagePackage type="file" (change)="uploadImagePackage($event)"
                                   accept="application/zip"
                                   style="display: none">
                            <button class="dropdown-item" (click)="navigateToThePublishPage()">
                                Publish Product
                            </button>
                            <button class="dropdown-item" (click)="navigateToBulkUploadPage()">
                                Publish Multiple Products
                            </button>
                            <button class="dropdown-item" (click)="imagePackage.click()">
                                Upload Image Package
                            </button>
                            <button class="dropdown-item" (click)="onExportCatalogue()">
                                Export Catalogue
                            </button>
                            <button class="dropdown-item" (click)="deleteAllProductImages()">
                                Delete All Product Images
                            </button>
                            <button class="dropdown-item" (click)="onDeleteCatalogue()">
                                Delete Catalogue
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div *ngIf="catalogueLinesArray.length > 0" class="pagination justify-content-center space-before">
            <ngb-pagination [(collectionSize)]="collectionSize" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="requestCatalogue()"></ngb-pagination>
        </div>

        <div *ngFor="let catLine of catalogueLinesArray; let i = index" class="space-before">
            <div class="card pointer">
                <div class="card-body">
                    <div class="row" *ngIf="!catalogueLineView[catLine.id]" (click)="catalogueLineView[catLine.id]=true">
                        <div class="col-2">
                            <div style="text-align:center">
                                <img *ngIf="catLine.goodsItem.item.productImage.length == 0"
                                     style="max-height:150px; max-width:100%"
                                     src="assets/empty_img.png">
                                <img *ngIf="catLine.goodsItem.item.productImage.length > 0"
                                     style="max-height:150px; max-width:100%"
                                     src="data:{{catLine.goodsItem.item.productImage[0].mimeCode}};base64,{{catLine.goodsItem.item.productImage[0].value}}"/>
                            </div>
                        </div>
                        <div class="col-10 d-flex justify-content-between">
                            <div class="col-8">
                                <p style="word-break: break-all;word-wrap: break-word;">
                                    <strong>{{selectName(catLine.goodsItem.item)}}
                                        <a class="text-std" [routerLink]="['/product-details']" [queryParams]="{catalogueId: catLine.goodsItem.item.catalogueDocumentReference.id, id: catLine.goodsItem.item.manufacturersItemIdentification.id}" (click)="onOpenCatalogueLine($event)" target="_blank">
                                            <i class="fas fa-external-link-alt btn-light"></i>
                                        </a>
                                    </strong>
                                </p>
                                <p style="word-break: break-all;word-wrap: break-word;">{{selectDescription(catLine.goodsItem.item)}}</p>
                                <p *ngIf="catLine.requiredItemLocationQuantity.price.priceAmount.value != null" style="word-break: break-all;word-wrap: break-word;">{{catLine.requiredItemLocationQuantity.price.priceAmount.value+" "+catLine.requiredItemLocationQuantity.price.priceAmount.currencyID}}</p>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-primary space-after col"
                                        (click)="redirectToEdit(catLine)" style="display: block">
                                    Edit
                                </button>
                                <button type="button" class="btn btn-primary space-after col"
                                        (click)="redirectToCopy(catLine)" style="display: block">
                                    Copy
                                </button>
                                <button type="button" class="btn btn-danger col" [disabled]="getDeleteStatus(i).isLoading()"
                                        (click)="deleteCatalogueLine(catLine, i); $event.stopPropagation();">
                                    Delete
                                </button>
                                <call-status [callStatus]="getDeleteStatus(i)"></call-status>
                            </div>
                        </div>
                    </div>
                    <catalogue-line-panel [catalogueLine]="catLine"
                                          [settings]="settings"
                                          [presentationMode]="'view'"
                                          (catalogueLineDeleted)="deleteCatalogueLine(catLine,i)"
                                          [(show)]="catalogueLineView[catLine.id]">
                    </catalogue-line-panel>
                </div>
            </div>
        </div>
        <div *ngIf="catalogueLinesArray.length > 0" class="pagination justify-content-center space-before">
            <ngb-pagination [(collectionSize)]="collectionSize" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="requestCatalogue()"></ngb-pagination>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="catalogueResponse && catalogueResponse.categoryNames.length == 0">
    <h3>No published products / services.</h3>
    <h5 class="mt-3">
        <span (click)="navigateToThePublishPage()" class="pointer">Publish single product / service</span>
        <i class="fa fa-plus-circle pointer" (click)="navigateToThePublishPage()"></i>
    </h5>
    <h5 class="mt-3">
        <span (click)="navigateToThePublishPage()" class="pointer">Publish multiple products / services</span>
        <i class="fa fa-plus-circle pointer" (click)="navigateToBulkUploadPage()"></i>
    </h5>
</div>

<call-status [callStatus]="getCatalogueStatus" [large]="true">
</call-status>
