<div *ngIf="wrapper" class="row product-details">
    <div class="col-9">
        <div class="row">
            <div class="col">
                <!-- Product Overview -->
                <h1 class="py-2">{{selectPreferredValue(item.name)}}</h1>
            </div>
            <div class="col-xs-auto align-right">
              <div class="float-right">
                  <span *ngIf="!findPrefItem(line.hjid)" class="star star-b pointer" [ngClass]="{'disabled':addFavoriteCategoryStatus.isLoading()}" (click)="addFavorites(line)" title="Add To Favorite">
                    <span class="half" style="width:0%">&#9733;</span>&#9733;
                  </span>
                  <span  *ngIf="findPrefItem(line.hjid)"  class="star star-b full pointer" [ngClass]="{'disabled':addFavoriteCategoryStatus.isLoading()}" (click)="removeFavorites(line)" title="Remove From Favorite">
                    <span class="half" style="width:100%">&#9733;</span>&#9733;
                  </span>
              </div>
              <div class="float-right mr-3 pt-2">
                  <call-status [callStatus]="addFavoriteCategoryStatus"></call-status>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
              <product-details-overview [wrapper]="wrapper" [options]="options">
              </product-details-overview>
            </div>
        </div>
        <product-details-tabs [wrapper]="wrapper" [settings]="settings">
        </product-details-tabs>
    </div>
    <div class="col-3">
        <!-- Order Workflow For Product -->
        <div *ngIf="isLogistics === false" class="p-3 border border-dark">

            <h2 class="py-1">Negotiate & Order</h2>

            <!-- Delivery Period -->
            <div class="order-group">
                <label class="order-label">
                    Delivery Period
                </label>
                <span class="order-value">
                    {{ wrapper.getDeliveryPeriod() }}
                </span>
            </div>

            <!-- Warranty Period -->
            <div class="order-group">
                <label class="order-label">
                    Warranty
                </label>
                <span class="order-value">
                    {{ wrapper.getWarrantyPeriod() }}
                </span>
            </div>

            <!-- Incoterms -->
            <div class="order-group">
                <label class="order-label">
                    Incoterms
                </label>
                <span class="order-value">
                    {{ wrapper.getIncoterms() }}
                </span>
            </div>

            <!-- Payment Terms -->
            <div class="order-group">
                <label class="order-label">
                    Payment Terms
                </label>
                <span class="order-value">
                    {{ wrapper.getPaymentTerms() }}
                </span>
            </div>

            <!-- Payment Means -->
            <div class="order-group">
                <label class="order-label">
                    Payment Means
                </label>
                <span class="order-value">
                    {{ wrapper.getPaymentMeans() }}
                </span>
            </div>

            <!-- Price & Quantity -->
            <ng-container *ngIf="hasPrice()">
                <div class="order-group d-flex">
                    <label class="order-label">
                        Price
                    </label>
                    <span class="order-value">
                        {{ getPricePerItem() }}
                    </span>
                    <div *ngIf="priceWrapper.appliedDiscounts.length > 0" class="space-left" data-toggle="tooltip" data-placement="top" (click)="openDiscountModal()"  title="Applied Discounts/Charges" style="cursor: pointer">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                </div>

                <hr>

                <div class="inline-order-group">
                    <label class="order-label">
                        Quantity:
                    </label>
                    <span class="order-qty-input">
                        <input type="number" [(ngModel)]="options.quantity" class="form-control form-control-sm w-75 px-1" />
                        <span *ngIf="getQuantityUnit() !== ''" class="ml-2">{{ getQuantityUnit() }}</span>
                    </span>
                </div>
                <div class="inline-order-group">
                    <span class="order-qty-range">
                        <input type="range" [(ngModel)]="options.quantity" class="form-control-range"
                            min="0" [max]="getMaximumQuantity()" [step]="getSteps()"/>
                    </span>
                </div>
                <div class="inline-order-group">
                    <label class="order-label order-price">
                        Total Price:
                    </label>
                    <span class="order-price-value">
                        {{getTotalPrice()}} {{ line.requiredItemLocationQuantity.price.priceAmount.currencyID }}
                    </span>
                </div>
            </ng-container>

            <!-- Request Price -->
            <ng-container *ngIf="!hasPrice()">

                <hr>

                <div class="inline-order-group">
                    <label class="order-label">
                        Quantity:
                    </label>
                    <span class="order-qty-input">
                        <input type="number" [(ngModel)]="options.quantity" class="form-control form-control-sm px-1" />
                        <span *ngIf="getQuantityUnit() !== ''" class="ml-2">{{ getQuantityUnit() }}</span>
                    </span>
                </div>
                <div class="inline-order-group">
                    <label class="order-label order-price">
                        Total Price:
                    </label>
                    <span class="order-price-value">
                        on demand
                    </span>
                </div>
            </ng-container>

            <!-- Action Button -->
            <button class="btn btn-primary pt-2 w-100"
                (click)="onNegotiate()" [disabled]="!this.appComponent.checkRoles('bp') || options.quantity <= 0">
                Negotiate & Order
            </button>
        </div>

        <!-- Order Workflow For Logistics -->
        <div *ngIf="isLogistics === true" class="p-3 border border-dark">

            <h2 class="py-1">Negotiate & Order</h2>

            <!-- Payment Terms -->
            <div class="order-group">
                <label class="order-label">
                    Payment Terms
                </label>
                <span class="order-value">
                    {{ wrapper.getPaymentTerms() }}
                </span>
            </div>

            <!-- Payment Means -->
            <div class="order-group">
                <label class="order-label">
                    Payment Means
                </label>
                <span class="order-value">
                    {{ wrapper.getPaymentMeans() }}
                </span>
            </div>
            <div class="inline-order-group">
                <label class="order-label order-price">
                    Total Price:
                </label>
                <span class="order-price-value">
                    on demand
                </span>
            </div>

            <!-- Action Button -->
            <button class="btn btn-primary pt-2 w-100"
                (click)="onNegotiate()" [disabled]="!this.appComponent.checkRoles('bp') || options.quantity <= 0">
                Negotiate & Order
            </button>
        </div>
        <div *ngIf="this.appComponent.checkRoles('bp')" class="p-3 border border-dark border-top-0">
            <div class="inline w-100" (click)="showProcesses = !showProcesses">
                <h4 class="py-1 inline w-75">Other Processes</h4>
                <i class="fas fa-chevron-up fa-lg toggle-processes" aria-hidden="true" *ngIf="showProcesses"></i>
                <i class="fas fa-chevron-down fa-lg toggle-processes" aria-hidden="true" *ngIf="!showProcesses"></i>
            </div>
            <div *ngIf="showProcesses">
                <div>
                    <button class="btn btn-secondary space-before w-100" (click)="onRequestInformation()">
                        Request Information
                    </button>
                </div>
                <div *ngIf="config.showPPAP && isPpapAvailable() && !isLogistics">
                    <button class="btn btn-secondary space-before w-100" (click)="onStartPpap()">
                        Start Ppap
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<discount-modal></discount-modal>

<call-status [callStatus]="getProductStatus"
                [large]="true">
</call-status>
