<div *ngIf="!hideTitle" class="row">
    <div class="col-12">
        <p class="nimble-title">Company Details</p>
    </div>
</div>

<div *ngIf="details" class="row">
  <div class="col-6">
    <h4><p>Company Data</p></h4>
    <text-input presentationMode="view" label="Company Name"
                [text]="selectValueOfTextObject(details.details.legalName)" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="VAT Number"
        [text]="details.details.vatNumber" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="Business Type"
        [text]="details.details.businessType" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="Activity Sectors"
        [text]="details.details.industrySectors[0]" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="Business Keywords"
        [text]="selectValueOfTextObject(details.details.businessKeywords)" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="Year of Foundation"
        [text]="details.details.yearOfCompanyRegistration" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="Company Description"
        [text]="details.description.companyStatement" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="Website"
        [text]="details.description.website" labelClass="col-4" valueClass="col-8">
    </text-input>
  </div>
  <div class="col-6 border-left">
    <h4><p>Address</p></h4>
    <text-input presentationMode="view" label="Street Name"
        [text]="details.details.address.streetName" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="Building Number"
        [text]="details.details.address.buildingNumber" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="City / Town"
        [text]="details.details.address.cityName" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="State / Province"
        [text]="details.details.address.region" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="Postal Code"
        [text]="details.details.address.postalCode" labelClass="col-4" valueClass="col-8">
    </text-input>
    <text-input presentationMode="view" label="Country"
        [text]="details.details.address.country" labelClass="col-4" valueClass="col-8">
    </text-input>
  </div>
</div>

<div *ngIf="managementMode && appComponent.checkRoles('pm') && !initCallStatus.isLoading() && details.details.vatNumber && details.details.vatNumber != ''" class="row actions-row pr-0">
  <div class="col-10 call-status-col">
    <call-status [callStatus]="vatCallStatus" [large]="true"></call-status>
  </div>
  <div class="col-2">
    <button class="btn btn-primary action" type="button" [disabled]="vatCallStatus.isLoading()" (click)="validateVAT()">Check VAT</button>
  </div>
</div>

<div *ngIf="managementMode && appComponent.checkRoles('pm') && !initCallStatus.isLoading()" class="row actions-row pr-0">
  <div class="col-12">
    <company-invitation [partyId]="party.partyId" [platformManagerMode]="platformManagerMode"></company-invitation>
  </div>
</div>

<div *ngIf="details" class="row">
  <div class="col-12">
    <hr>
    <h4><p>Social Media</p></h4>
    <table class="table table-striped table-bordered mb-1 mt-0" style="table-layout: fixed; width: 100%;">
        <colgroup>
            <col style="width: 150%;">
        </colgroup>
        <tr><th>Link</th></tr>
        <tr *ngIf="details.description.socialMediaList.length == 0"><td>No data</td></tr>
        <tr *ngFor="let socialMedia of details.description.socialMediaList; let i = index">
            <td *ngIf="socialMedia">{{socialMedia}}</td>
            <td *ngIf="!socialMedia">n/A</td>
        </tr>
    </table>
    <hr>
    <h4><p>Links</p></h4>
    <table class="table table-striped table-bordered mb-1 mt-0" style="table-layout: fixed; width: 100%;">
        <colgroup>
            <col style="width: 150%;">
        </colgroup>
        <tr><th>Link</th></tr>
        <tr *ngIf="details.description.externalResources.length == 0"><td>No data</td></tr>
        <tr *ngFor="let extResource of details.description.externalResources; let i = index">
            <td *ngIf="extResource">{{extResource}}</td>
            <td *ngIf="!extResource">n/A</td>
        </tr>
    </table>
    <hr>
    <h4><p>Events</p></h4>
    <table class="table table-striped table-bordered mb-1 mt-0" style="table-layout: fixed; width: 100%;">
        <colgroup>
            <col style="width: 150%;">
            <col style="width: 150%;">
            <col style="width: 150%;">
            <col style="width: 150%;">
        </colgroup>
        <tr><th>Date</th><th>Name</th><th>Description</th><th>Location</th></tr>
        <tr *ngIf="details.description.events.length == 0"><td colspan="4">No data</td></tr>
        <tr *ngFor="let ev of details.description.events; let i = index">
            <td>{{formatDate(ev.dateFrom)}} - {{formatDate(ev.dateTo)}}</td>
            <td>{{ev.name}}</td>
            <td *ngIf="ev.description">{{ev.description}}</td>
            <td *ngIf="!ev.description">n/A</td>
            <td *ngIf="ev.place.streetName">{{ev.place.streetName}}<span *ngIf="ev.place.buildingNumber"> {{ev.place.buildingNumber}}</span><br/>{{ev.place.postalCode}} {{ev.place.cityName}}<br/>{{ev.place.country}}</td>
            <td *ngIf="!ev.place.streetName">n/A</td>
            <td>
                <button class="btn btn-danger btn-sm" (click)="removeCompEventEntry(i)">Delete</button>
            </td>
        </tr>
    </table>
    <hr>
    <h4><p>Images</p></h4>
    <div class="form-group row">
      <label class="col-2 col-form-label">
        <strong>Logo:</strong>
      </label>
      <div class="col-10">
        <div *ngIf="!details.description.logoImageId" class="card m-2" style="width: 15rem;">
          <div class="card-body p-2">
              <div class="align-center">
                <img class="img-max" src="assets/empty_img.png">
              </div>
          </div>
        </div>
        <div *ngIf="details.description.logoImageId" class="card m-2" style="width: 15rem;">
          <div class="card-body p-2">
              <div class="align-center">
                <img class="img-max" src="{{imgEndpoint}}{{details.description.logoImageId}}">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">
        <strong>Photos "At Work":</strong>
      </label>
      <div class="col-10 row ml-0 mr-0">
        <div *ngIf="details.description.companyPhotoList.length == 0" class="card m-2" style="width: 15rem;">
          <div class="card-body p-2">
              <div class="align-center">
                <img class="img-max" src="assets/empty_img.png">
              </div>
          </div>
        </div>
        <div *ngFor="let photo of details.description.companyPhotoList" class="card m-2" style="width: 15rem;">
          <div class="card-body p-2">
              <div class="align-center">
                <img class="img-max" src="{{imgEndpoint}}{{photo}}">
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<call-status [callStatus]="initCallStatus" [large]="true"></call-status>
