<div class="row">
  <div class="col-8">
    <h4>Platform Members
        <span *ngIf="registeredCompaniesPage">(Total {{ registeredCompaniesPage.totalElements }})</span>
    </h4>
  </div>
  <div class="col-4">
    <div class="input-group">
        <label class="col-form-label col-form-label-sm space-right"><strong>Sort by:</strong>
        </label>
        <select class="form-control form-control-sm custom-select" [(ngModel)]="sortOptionForVerifiedCompanies"
                (change)="sortRegisteredCompanyList()" [disabled]="registeredCompaniesCallStatus.isLoading()">
            <option *ngFor="let option of COMPANY_LIST_SORT_OPTIONS" [value]="option.name">{{option.value}}</option>
        </select>
    </div>
  </div>
</div>

<call-status [callStatus]="registeredCompaniesCallStatus" [large]="true"></call-status>

<div [hidden]="registeredCompaniesCallStatus.isLoading() || registeredCompaniesPage == null">
    <div *ngIf="registeredCompaniesPage">
        <div class="mt-3 mb-3">
            <ng-container *ngFor="let company of registeredCompaniesPage.content; let i = index">
                <div *ngIf="i%4==0" class="row">
                    <div *ngIf="i<registeredCompaniesPage.content.length" class="card col mr-3 ml-3 pl-0 pr-0"
                         [ngClass]="{'mb-3':i+4<registeredCompaniesPage.content.length}">
                        <div class="card-header text-center">
                            <a *ngIf="registeredCompaniesPage.content[i].websiteURIFull && registeredCompaniesPage.content[i].websiteURIFull != ''"
                               href="{{registeredCompaniesPage.content[i].websiteURIFull}}"
                               title="{{getNameOfTheCompany(registeredCompaniesPage.content[i].partyName)}}"
                               target="_blank">{{getNameOfTheCompany(registeredCompaniesPage.content[i].partyName)}}</a>
                            <span *ngIf="!registeredCompaniesPage.content[i].websiteURIFull || registeredCompaniesPage.content[i].websiteURIFull == ''"
                               title="{{getNameOfTheCompany(registeredCompaniesPage.content[i].partyName)}}">{{getNameOfTheCompany(registeredCompaniesPage.content[i].partyName)}}</span>
                        </div>
                        <div class="card-body p-3 text-center">
                            <div style="height:100%;width:100%;display:table;">
                                <div stlye="display:table-cell;vertical-align:middle;">
                                    <img class="img-med" [src]="getCompanyLogo(registeredCompaniesPage.content[i].documentReference)" onerror="this.src='assets/empty_img.png'">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="i+1<registeredCompaniesPage.content.length" class="card col mr-3 ml-3 pl-0 pr-0"
                         [ngClass]="{'mb-3':i+4<registeredCompaniesPage.content.length}">
                        <div class="card-header text-center">
                            <a *ngIf="registeredCompaniesPage.content[i+1].websiteURIFull && registeredCompaniesPage.content[i+1].websiteURIFull != ''"
                               href="{{registeredCompaniesPage.content[i+1].websiteURIFull}}"
                               title="{{getNameOfTheCompany(registeredCompaniesPage.content[i+1].partyName)}}"
                               target="_blank">{{getNameOfTheCompany(registeredCompaniesPage.content[i + 1].partyName)}}</a>
                            <span *ngIf="!registeredCompaniesPage.content[i+1].websiteURIFull || registeredCompaniesPage.content[i+1].websiteURIFull == ''"
                               title="{{getNameOfTheCompany(registeredCompaniesPage.content[i+1].partyName)}}">{{getNameOfTheCompany(registeredCompaniesPage.content[i + 1].partyName)}}</span>
                        </div>
                        <div class="card-body p-3 text-center">
                            <div style="height:100%;width:100%;display:table;">
                                <div stlye="display:table-cell;vertical-align:middle;">
                                    <img class="img-med" [src]="getCompanyLogo(registeredCompaniesPage.content[i+1].documentReference)" onerror="this.src='assets/empty_img.png'">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="i+2<registeredCompaniesPage.content.length" class="card col mr-3 ml-3 pl-0 pr-0"
                         [ngClass]="{'mb-3':i+4<registeredCompaniesPage.content.length}">
                        <div class="card-header text-center">
                            <a *ngIf="registeredCompaniesPage.content[i+2].websiteURIFull && registeredCompaniesPage.content[i+2].websiteURIFull != ''"
                               href="{{registeredCompaniesPage.content[i+2].websiteURIFull}}"
                               title="{{getNameOfTheCompany(registeredCompaniesPage.content[i+2].partyName)}}"
                               target="_blank">{{getNameOfTheCompany(registeredCompaniesPage.content[i + 2].partyName)}}</a>
                            <span *ngIf="!registeredCompaniesPage.content[i+2].websiteURIFull || registeredCompaniesPage.content[i+2].websiteURIFull == ''"
                               title="{{getNameOfTheCompany(registeredCompaniesPage.content[i+2].partyName)}}">{{getNameOfTheCompany(registeredCompaniesPage.content[i + 2].partyName)}}</span>
                        </div>
                        <div class="card-body p-3 text-center">
                            <div style="height:100%;width:100%;display:table;">
                                <div stlye="display:table-cell;vertical-align:middle;">
                                    <img class="img-med" [src]="getCompanyLogo(registeredCompaniesPage.content[i+2].documentReference)" onerror="this.src='assets/empty_img.png'">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="i+3<registeredCompaniesPage.content.length" class="card col mr-3 ml-3 pl-0 pr-0"
                         [ngClass]="{'mb-3':i+4<registeredCompaniesPage.content.length}">
                        <div class="card-header text-center">
                            <a *ngIf="registeredCompaniesPage.content[i+3].websiteURIFull && registeredCompaniesPage.content[i+3].websiteURIFull != ''"
                               href="{{registeredCompaniesPage.content[i+3].websiteURIFull}}"
                               title="{{getNameOfTheCompany(registeredCompaniesPage.content[i+3].partyName)}}"
                               target="_blank">{{getNameOfTheCompany(registeredCompaniesPage.content[i + 3].partyName)}}</a>
                            <span *ngIf="!registeredCompaniesPage.content[i+3].websiteURIFull || registeredCompaniesPage.content[i+3].websiteURIFull == ''"
                               title="{{getNameOfTheCompany(registeredCompaniesPage.content[i+3].partyName)}}">{{getNameOfTheCompany(registeredCompaniesPage.content[i + 3].partyName)}}</span>
                        </div>
                        <div class="card-body p-3 text-center">
                            <div style="height:100%;width:100%;display:table;">
                                <div stlye="display:table-cell;vertical-align:middle;">
                                    <img class="img-med" [src]="getCompanyLogo(registeredCompaniesPage.content[i+3].documentReference)" onerror="this.src='assets/empty_img.png'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <ngb-pagination class="d-flex justify-content-center"
                        [collectionSize]="registeredCompaniesPage.totalElements"
                        [pageSize]="registeredCompaniesPage.size"
                        [page]="registeredCompaniesPage.number"
                        [maxSize]="registeredCompaniesPage.size"
                        [boundaryLinks]="false"
                        (pageChange)="onRegisteredCompaniesPageChange($event)">
        </ngb-pagination>
    </div>
</div>
