<div class="row">
    <div class="col-12">
        <p class="nimble-title" i18n>Dashboard</p>
    </div>
</div>

<!-- Welcome jumbotron, no company -->
<div *ngIf="!user.hasCompany" class="jumbotron space-after">
  You are not yet linked to a company.<br/>
  You will not be able to make purchases or create a catalogue without a company.<br/>
  <p class="text-center space-before mb-0"><a class="btn btn-primary btn-lg" href="#/user-mgmt/company-registration" role="button">Register a Company</a></p>
</div>

<!-- Welcome jumbotron, company waiting for approval -->
<div *ngIf="user.roles.indexOf('initial_representative')!= -1 && user.roles.indexOf('legal_representative') == -1" class="jumbotron space-after">
  <b>Your company is now registered</b><br/>
  <span *ngIf="!config.companyRegistrationRequired">You can start publishing your catalogue.<br/></span>
  In order to execute business processes your company needs to be verified by an administrator - please stay tuned.<br/>
  If you are not being verified with 24h, please contact our support <a href="mailto:{{config.supportMail}}">{{config.supportMail}}</a>.
</div>

<!-- Regular content -->
<div *ngIf="user.hasCompany && (this.appComponent.checkRoles('purchases') || this.appComponent.checkRoles('sales') || this.appComponent.checkRoles('catalogue'))">
    <!-- Tabs -->
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <ng-container *ngIf="user.showWelcomeTab">
                    <li class="nav-item welcome-tab">
                        <a href id="WELCOME" [ngClass]="{'nav-link': true, active: queryParameters.tab === TABS.WELCOME}" (click)="onChangeTab($event)" i18n>
                            Welcome
                            <button type="button" class="close space-left" aria-label="Close" (click)="onCloseWelcomeTab($event)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a href id="PURCHASES" *ngIf="this.appComponent.checkRoles('purchases')"  [ngClass]="{'nav-link': true, active: queryParameters.tab === TABS.PURCHASES}" (click)="onChangeTab($event)" i18n>Purchases <span *ngIf="buyerCounter>0" class="badge badge-pill badge-danger ml-1">{{buyerCounter}}</span></a>
                </li>
                <li class="nav-item">
                    <a href id="SALES" *ngIf="this.appComponent.checkRoles('sales')" [ngClass]="{'nav-link': true, active: queryParameters.tab === TABS.SALES}" (click)="onChangeTab($event)" i18n>Sales <span *ngIf="sellerCounter>0" class="badge badge-pill badge-danger ml-1">{{sellerCounter}}</span></a>
                </li>
                <li class="nav-item">
                    <a href id="CATALOGUE" *ngIf="this.appComponent.checkRoles('catalogue')" [ngClass]="{'nav-link': true, active: queryParameters.tab === TABS.CATALOGUE}" (click)="onChangeTab($event)" i18n>Catalogue</a>
                </li>
                <li class="nav-item">
                    <a href id="FAVOURITE" *ngIf="this.appComponent.checkRoles('favourite')" [ngClass]="{'nav-link': true, active: queryParameters.tab === TABS.FAVOURITE}" (click)="onChangeTab($event)" i18n>Favourite</a>
                </li>
            </ul>
        </div>
    </div>


    <!-- Welcome tab -->
    <div *ngIf="queryParameters.tab === TABS.WELCOME" class="row">
        <div class="col-12">
            <h4 class="space-before mb-4 text-center">Looks like you are new here.</h4>
            <div class="row mb-4 ">
              <div class="col-6">
                <p class="mb-1">This is your dashboard - it shows:</p>
                <ul>
                    <li><strong>Purchases:</strong> the history of all your purchases</li>
                    <li><strong>Sales:</strong> the history of all your sales</li>
                    <li><strong>Catalogue:</strong> the list of all your published products / services</li>
                </ul>
              </div>
              <div class="col-6">
                <p class="mb-1">In your Purchases and Sales the following statuses are possible:</p>
                <div>
                  <span class="badge badge-success">Step completed</span> <span class="badge badge-warning">Waiting for trading partner</span> <span class="badge badge-danger">Action required</span> <span class="badge badge-secondary">Step cancelled</span>
                </div>
              </div>
            </div>
            <div class="row text-center">
                <div *ngIf="this.appComponent.checkRoles('purchases')" class="col-6">
                    <p>If you are looking to <b>buy</b> Products / Services</p>
                    <a class="btn btn-primary btn-lg" href="#/simple-search" role="button">Search for Products / Services</a>
                </div>

                <div *ngIf="this.appComponent.checkRoles('sales')" class="col-6">
                    <p>If you are looking to <b>sell</b> Products / Services</p>
                    <a *ngIf="this.appComponent.checkRoles('catalogue')" class="btn btn-primary btn-lg" href="#/catalogue/categorysearch" role="button">Publish a Product / Service</a>
					<p *ngIf="!this.appComponent.checkRoles('catalogue')">Please refer to the company manager or a legal representative to get permission to publish products / services in the NIMBLE Platform.</p>
                </div>

                <div *ngIf="!this.appComponent.checkRoles('purchases') && !this.appComponent.checkRoles('sales')" class="col-12">
                    <p>Please refer to the company manager or a legal representative to get permission to purchase or sell products / services in the NIMBLE Platform.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sales and Purchase tabs -->
    <div *ngIf="queryParameters.tab === TABS.SALES || queryParameters.tab === TABS.PURCHASES" class="row">
        <div class="col-12">
            <!-- No data -->
            <div class="row" *ngIf="results.resultCount === 0 && !queryParameters.archived && !areOrdersLoading()">
                <div class="col-12">
                    <!-- Sales -->
                    <ng-container *ngIf="queryParameters.tab === TABS.SALES">
                        <button class="btn btn-secondary float-right space-before"
                            (click)="onToggleArchived()"
                            [disabled]="!isToggleArchivedButtonEnabled()">
                            {{getToggleArchivedButtonText()}}
                        </button>
                        <div style="margin-top: 20vh">
                            <h4 class="space-before text-center">You do not have any sales yet</h4>
                            <p class="space-before text-center">When a customer enquires about your published products / services, you will see it here.</p>
                        </div>
                    </ng-container>
                    <!-- Purchases -->
                    <ng-container *ngIf="queryParameters.tab === TABS.PURCHASES">
                        <button class="btn btn-secondary float-right space-before"
                            (click)="onToggleArchived()"
                            [disabled]="!isToggleArchivedButtonEnabled()">
                            {{getToggleArchivedButtonText()}}
                        </button>
                        <div style="margin-top: 20vh">
                            <h4 class="space-before text-center">You have not bought anything yet</h4>
                            <p class="space-before text-center">
                                <a class="btn btn-primary btn-lg" href="#/simple-search" role="button">Search for Products / Services</a>
                            </p>
                        </div>
                    </ng-container>
                </div>
            </div>

            <!-- Data -->
            <div class="row" *ngIf="results.resultCount > 0 || queryParameters['archived']">
                <div class="col-12">
                    <div class="row space-before">
                        <div class="col-4"></div>
                        <!-- Pagination Info -->
                        <div class="col-4 pagination justify-content-center">
                            <ngb-pagination [collectionSize]="results.resultCount" [pageSize]="query.pageSize" [(page)]="query.page"
                                [maxSize]="query.pageSize" [boundaryLinks]="true" (pageChange)="onPageChange()">
                            </ngb-pagination>
                        </div>
                        <!--<div class="col-3"></div>-->
                        <!-- Show Archived Button -->
                        <div class="col-4">
                            <button class="btn btn-secondary float-right"
                                (click)="onToggleArchived()"
                                [disabled]="!isToggleArchivedButtonEnabled()">
                                {{getToggleArchivedButtonText()}}
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Filters -->
                        <div class="col-2">
                            <facet [title]="'Product / Service'" [dataType]="'string'"
                                [stringValues]="filterSet && filterSet.relatedProducts"
                                [selectedStringValues]="modifiedFilterSet && modifiedFilterSet.relatedProducts"
                                [loading]="areFiltersLoading()"
                                (triggerCriteriaChanged)="onFilterChange()">
                            </facet>
                            <facet [title]="'Category'" [dataType]="'string'"
                                [stringValues]="filterSet && filterSet.relatedProductCategories"
                                [selectedStringValues]="modifiedFilterSet && modifiedFilterSet.relatedProductCategories"
                                [loading]="areFiltersLoading()"
                                (triggerCriteriaChanged)="onFilterChange()">
                            </facet>
                            <facet [title]="'Trading Partner'" [dataType]="'string'"
                                [stringValues]="filterSet && filterSet.tradingPartnerNames"
                                [selectedStringValues]="modifiedFilterSet && modifiedFilterSet.tradingPartnerNames"
                                [loading]="areFiltersLoading()"
                                (triggerCriteriaChanged)="onFilterChange()">
                            </facet>
                            <facet [title]="'Status'" [dataType]="'string'"
                                   [stringValues]="filterSet && filterSet.status"
                                   [selectedStringValues]="modifiedFilterSet && modifiedFilterSet.status"
                                   [loading]="areFiltersLoading()"
                                   (triggerCriteriaChanged)="onFilterChange()">
                            </facet>
                        </div>

                        <!-- Results -->
                        <div *ngIf="results.orders" class="col-10">
                            <h4 *ngIf="results.orders.length === 0">No orders.</h4>
                            <div *ngFor="let order of results.orders;let i=index" class="bordered space-after">
                                <div class="row w-100 m-0">
                                    <div class="col d-flex collaboration-group-header">
                                        <div class="header-label mr-auto d-flex">
                                            <h5 *ngIf="updatingCollaborationGroupName[i].status == false && (order.name != null || order.name != '')">{{order.name}}</h5>
                                            <h5 *ngIf="updatingCollaborationGroupName[i].status == false && (order.name == null || order.name == '')">{{updatingCollaborationGroupName[i].defaultName}}</h5>
                                            <input *ngIf="updatingCollaborationGroupName[i].status == true" type="text" class="form-control form-control-sm" name="inputCtrl" [(ngModel)]="updatingCollaborationGroupName[i].name" [disabled]=""/>
                                            <div *ngIf="updatingCollaborationGroupName[i].status == true" (click)="updateCollaborationGroupName(order.id,updatingCollaborationGroupName[i].name)" data-toggle="tooltip" data-placement="top" title="Save">
                                                <i class="fa fa-check p-2 pointer" aria-hidden="true"></i>
                                            </div>
                                            <div *ngIf="updatingCollaborationGroupName[i].status == true" (click)="changeCollaborationGroupNameStatus(i,false)" data-toggle="tooltip" data-placement="top" title="Cancel">
                                                <i class="fa fa-times p-2 pointer" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-auto align-right p-0">
                                        <div data-toggle="tooltip" class="inline" (click)="changeCollaborationGroupNameStatus(i,true)" data-placement="top" title="Change group name">
                                            <i class="fa fa-pencil-alt p-1 pointer" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="!order.archived" class="inline" (click)="archiveGroup(order.id)" data-toggle="tooltip" data-placement="top" title="Archive">
                                            <i class="fa fa-archive p-1 pointer" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="order.archived" class="inline" (click)="restoreGroup(order.id)" data-toggle="tooltip" data-placement="top" title="Restore">
                                            <i class="fa fa-undo p-1 pointer" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="order.archived" class="inline" (click)="deleteGroup(order.id)" data-toggle="tooltip" data-placement="top" title="Delete Permanently">
                                            <i class="fa fa-trash-alt p-1 pointer" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <hr class="collaboration-hr">
                                <div *ngFor="let group of order.associatedProcessInstanceGroups;let i=index">
                                    <div [ngClass]="i != order.associatedProcessInstanceGroups.length-1 ? 'space-after' : null">
                                        <!--If Purchases tab is selected, show groups whose collaboration role is Buyer-->
                                        <thread-summary *ngIf="queryParameters.tab == TABS.SALES || (queryParameters.tab == TABS.PURCHASES && group.collaborationRole == 'BUYER')" [processInstanceGroup]="group" [collaborationGroupId]="order.id" (threadStateUpdated)="onOrderRemovedFromView()">
                                        </thread-summary>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination Info -->
                    <div class="row ">
                        <div class="col pagination justify-content-center">
                            <ngb-pagination [collectionSize]="results.resultCount" [pageSize]="query.pageSize" [(page)]="query.page"
                                [maxSize]="query.pageSize" [boundaryLinks]="true" (pageChange)="onPageChange()">
                            </ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Loading -->
            <call-status [callStatus]="queryStatus" [large]="true"></call-status>
        </div>
    </div>

    <!-- Catalogue tab -->
    <div *ngIf="queryParameters.tab === TABS.CATALOGUE" class="row">
        <div class="col-12">
            <catalogue-view></catalogue-view>
        </div>
    </div>

    <!-- Favourite tab -->
    <div *ngIf="queryParameters.tab === TABS.FAVOURITE" class="row">
        <div class="col-12">
            <favourite-view></favourite-view>
        </div>
    </div>
</div>
