<div class="d-flex justify-content-end mb-2">
    <call-status [callStatus]="callStatus"
        class="d-flex">
    </call-status>
</div>

<div *ngIf="catalogueResponse && hasFavourite == true">
    <div>
        <div class="input-group form-group" style="background-color:#F2F2F2;padding-left: 102px;padding-top: 20px;padding-bottom: 20px;">
            <label class="space-right"><strong>Sort by:</strong>
            </label>
            <select  class="custom-select col-3 space-right" [(ngModel)]="sortOption" (change)="requestCatalogue()">
                <option></option>
                <option *ngFor="let option of CATALOGUE_LINE_SORT_OPTIONS" [value]="option.name">{{option.value}}</option>
            </select>
        </div>
        
        <div *ngIf="catalogueLinesArray.length > 0" class="pagination justify-content-center space-before">
            <ngb-pagination [(collectionSize)]="collectionSize" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="onRegisteredCompaniesPageChange($event)"></ngb-pagination>
        </div>

        <div *ngFor="let catLine of catalogueLinesArray; let i = index" class="space-before">
            <div class="card pointer">
                <div class="card-body">
                    <div class="row" *ngIf="!catalogueLineView[catLine.id]" (click)="viewCatalogueLine(catLine); $event.stopPropagation();">
                        <div class="col-2">
                            <div style="text-align:center">
                                <img *ngIf="catLine.goodsItem.item.productImage.length == 0"
                                     style="max-height:150px; max-width:100%"
                                     src="assets/empty_img.png">
                                <img *ngIf="catLine.goodsItem.item.productImage.length > 0"
                                     style="max-height:150px; max-width:100%"
                                     src="data:{{catLine.goodsItem.item.productImage[0].mimeCode}};base64,{{catLine.goodsItem.item.productImage[0].value}}"/>
                            </div>
                        </div>
                        <div class="col-10 d-flex justify-content-between">
                            <div class="col-8">
                                <p style="word-break: break-all;word-wrap: break-word;">
                                    <strong>{{selectName(catLine.goodsItem.item)}}
                                        <a class="text-std" [routerLink]="['/product-details']" [queryParams]="{catalogueId: catLine.goodsItem.item.catalogueDocumentReference.id, id: catLine.goodsItem.item.manufacturersItemIdentification.id}" (click)="onOpenCatalogueLine($event)" target="_blank">
                                            <i class="fas fa-external-link-alt btn-light"></i>
                                        </a>
                                    </strong>
                                </p>
                                <p style="word-break: break-all;word-wrap: break-word;">{{selectDescription(catLine.goodsItem.item)}}</p>
                                <p *ngIf="catLine.requiredItemLocationQuantity.price.priceAmount.value != null" style="word-break: break-all;word-wrap: break-word;">{{catLine.requiredItemLocationQuantity.price.priceAmount.value+" "+catLine.requiredItemLocationQuantity.price.priceAmount.currencyID}}</p>
                            </div>
                            <div class="col-2">
                                
                                <button type="button" class="btn btn-danger col" [disabled]="getDeleteStatus(i).isLoading()"
                                        (click)="removeFavourite(catLine, i); $event.stopPropagation();">
                                    Remove
                                </button>
                                <call-status [callStatus]="getDeleteStatus(i)"></call-status>
                            </div>
                        </div>
                    </div>
                    <catalogue-line-panel [catalogueLine]="catLine"
                    [settings]="settings"
                    [presentationMode]="''"
                    [(show)]="catalogueLineView[catLine.id]">
                    </catalogue-line-panel>
                </div>
            </div>
        </div>
        <div *ngIf="catalogueLinesArray.length > 0" class="pagination justify-content-center space-before">
            <ngb-pagination [(collectionSize)]="collectionSize" [(pageSize)]="pageSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="onRegisteredCompaniesPageChange($event)"></ngb-pagination>
        </div>
    </div>
</div>

<div class="jumbotron" *ngIf="catalogueResponse && hasFavourite == false">
    <h3>No Favourite products / services.</h3>
    <h5>
        <span (click)="navigateToTheSearchPage()" class="pointer">Search For  products / services</span>
        <i class="fa fa-plus-circle pointer" (click)="navigateToTheSearchPage()"></i>
    </h5>
</div>

<call-status [callStatus]="getCatalogueStatus" [large]="true">
</call-status>
