<form (ngSubmit)="onSubmit()" class="space-before" #simpleSearchForm="ngForm" novalidate>

	<div class="form-group row">
		<div class="col-12">
			<div class="input-group">
			  <input type="text" class="form-control" id="searchTerm" required [(ngModel)]="model.q" [ngbTypeahead]="getSuggestions" [focusFirst]=false name="searchTerm" #q="ngModel" pattern=".{1,}" placeholder="Product / Service / Company">
			  <div class="input-group-append">
					<button type="submit" class="btn btn-outline-secondary" [disabled]="!simpleSearchForm.form.valid">
						<i class="fa fa-search"></i>
					</button>
			  </div>
			</div>
		</div>
	</div>

	<call-status [callStatus]="searchCallStatus" [large]="true"></call-status>

	<!--
	<div [hidden]="error_detc || callback || !submitted">
		<img class="space-before" src="assets/form_loader.gif"/>
	</div>
	-->

	<div [hidden]="searchDone">
		<div class="card border-primary-nimble">
			<div class="card-header text-white bg-primary-nimble">
				Categories
			</div>
			<div class="card-body">
				<call-status [callStatus]="categoriesCallStatus" [large]="true"></call-status>
				<ng-container *ngIf="!categoriesCallStatus.isLoading() && !cat_loading && cat_levels.length>0 && cat_levels[0].length>0">
					<div *ngFor="let lvl0 of cat_levels[0]; let idx = index;">
						<div *ngIf="idx%4==0" class="row">
							<div *ngIf="idx<cat_levels[0].length" class="card col mr-3 ml-3 pl-0 pr-0 pointer" [ngClass]="{'mb-3':idx+4<cat_levels[0].length}" (click)="callCat(cat_levels[0][idx].name,cat_levels[0][idx].id)">
								<div class="card-body p-2 text-center">
								<h6 class="card-title clickable">{{ cat_levels[0][idx].preferredName }}</h6>
								<h6 class="card-subtitle text-muted font-italic">{{ cat_levels[0][idx].count }} items</h6>
								</div>
							</div>
							<div *ngIf="idx+1<cat_levels[0].length" class="card col mr-3 ml-3 pl-0 pr-0 pointer" [ngClass]="{'mb-3':idx+4<cat_levels[0].length}" (click)="callCat(cat_levels[0][idx+1].name,cat_levels[0][idx+1].id)">
								<div class="card-body p-2 text-center">
								<h6 class="card-title clickable">{{ cat_levels[0][idx+1].preferredName }}</h6>
								<h6 class="card-subtitle text-muted font-italic">{{ cat_levels[0][idx+1].count }} items</h6>
								</div>
							</div>
							<div *ngIf="idx+2<cat_levels[0].length" class="card col mr-3 ml-3 pl-0 pr-0 pointer" [ngClass]="{'mb-3':idx+4<cat_levels[0].length}" (click)="callCat(cat_levels[0][idx+2].name,cat_levels[0][idx+2].id)">
								<div class="card-body p-2 text-center">
								<h6 class="card-title clickable">{{ cat_levels[0][idx+2].preferredName }}</h6>
								<h6 class="card-subtitle text-muted font-italic">{{ cat_levels[0][idx+2].count }} items</h6>
								</div>
							</div>
							<div *ngIf="idx+3<cat_levels[0].length" class="card col mr-3 ml-3 pl-0 pr-0 pointer" [ngClass]="{'mb-3':idx+4<cat_levels[0].length}" (click)="callCat(cat_levels[0][idx+3].name,cat_levels[0][idx+3].id)">
								<div class="card-body p-2 text-center">
								<h6 class="card-title clickable">{{ cat_levels[0][idx+3].preferredName }}</h6>
								<h6 class="card-subtitle text-muted font-italic">{{ cat_levels[0][idx+3].count }} items</h6>
								</div>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>

	<div [hidden]="!callback || searchCallStatus.isLoading()">
		<hr/>
		<div>

			<div class="row">
				<div *ngIf="size==0" class="col-12">
					<span i18n>No search results</span>
				</div>
				<div *ngIf="size>0" class="col-4">
					<span i18n>Showing results</span> {{ start }} - {{ end }} <span i18n>of</span> {{ size }}
				</div>
				<div *ngIf="size>0" class="col-8">
					<div class="justify-content-center pagination">
						<ngb-pagination [(collectionSize)]="size" [(page)]="page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="get(objToSubmit)"></ngb-pagination>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-4">

					<div class="row mb-3">
						<div class="col-12">
							<button class="btn btn-secondary" [disabled]="cat==''" (click)="setCat('','')">Reset category</button>
							<button class="btn btn-secondary ml-2" [disabled]="!facetQuery || (facetQuery && facetQuery.length==0)" (click)="resetFilter()">Reset filter</button>
						</div>
					</div>

					<div *ngIf="size>0">

						<!-- category facet panel -->
						<div class="pointer" (click)="showCatSection=!showCatSection">
							<h5>Categories <span *ngIf="!showCatSection"><i class="fa fa-angle-double-down"></i></span><span *ngIf="showCatSection"><i class="fa fa-angle-double-up"></i></span></h5>
						</div>

						<div *ngIf="showCatSection">
							<div class="card border-primary-nimble mb-3">
								<div class="card-header text-white bg-primary-nimble">
									Category
								</div>
								<div class="card-body">
									<div *ngIf="cat_loading">
										<img src="assets/form_loader.gif"/>
									</div>
									<div *ngIf="!cat_loading">
										<div *ngFor="let c of cat_levels; let i = index">
											<div *ngIf="cat_level==-2&&i==0">
												<div *ngFor="let lvl of c">
													<div *ngIf="cat==lvl.name">
														<span class="clickable" (click)="setCat(lvl.name,lvl.id)"><b>{{ lvl.preferredName }}</b></span> ({{ lvl.count }})
													</div>
													<div *ngIf="cat!=lvl.name&&cat_level!=i">
														<span class="clickable" (click)="setCat(lvl.name,lvl.id)">{{ lvl.preferredName }}</span> ({{ lvl.count }})
													</div>
												</div>
											</div>
											<div *ngIf="cat_level>=(i-1)">
												<div *ngFor="let lvl of c">
													<div *ngIf="cat==lvl.name">
														<span class="clickable" (click)="setCat(lvl.name,lvl.id)" [style.padding-left.rem]="(i * 1)"><b>{{ lvl.preferredName }}</b></span> ({{ lvl.count }})
													</div>
													<div *ngIf="cat!=lvl.name&&cat_level!=i">
														<span class="clickable" (click)="setCat(lvl.name,lvl.id)" [style.padding-left.rem]="(i * 1)">{{ lvl.preferredName }}</span> ({{ lvl.count }})
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<hr/>

						<div *ngIf="checkProdCatCount()>0">

							<div class="pointer" (click)="showProdSection=!showProdSection">
								<h5>Product / Service Filters <span *ngIf="!showProdSection"><i class="fa fa-angle-double-down"></i></span><span *ngIf="showProdSection"><i class="fa fa-angle-double-up"></i></span></h5>
							</div>

							<div *ngIf="showProdSection">
								<div class="card mb-3">
									<div class="card-header">
										{{ getName(product_price) }}
									</div>
									<div class="card-body">
										<div class="row mb-2">
												<div class="col-4">
													<input class="form-control form-control-sm" [(ngModel)]="selectedPriceMin" [ngModelOptions]="{standalone: true}" type="number">
												</div>
												<div class="col-1">
													-
												</div>
												<div class="col-4">
													<input class="form-control form-control-sm" [(ngModel)]="selectedPriceMax" [ngModelOptions]="{standalone: true}" type="number">
												</div>
												<div class="col-3">
													<select class="form-control form-control-sm" [(ngModel)]="selectedCurrency" [ngModelOptions]="{standalone: true}">
									            <option *ngFor="let currency of CURRENCIES" [value]="currency">
									                {{ currency }}
									            </option>
									        </select>
												</div>
										</div>
										<button class="btn btn-primary" (click)="setPriceFilter()" [disabled]="!checkPriceFilter()">Apply</button>
										<button class="btn btn-secondary ml-2" (click)="resetPriceFilter()" [hidden]="!checkPriceFacet()">Reset</button>
									</div>
								</div>
								<div *ngFor="let facet of facetObj">
									<div *ngIf="facet.total > 0 && checkProdCat(facet.name)" class="card mb-3">
										<div class="card-header">
											{{ getName(facet.realName) }}
										</div>
										<div class="card-body">
											<div *ngFor="let facetInner of facet.options; let i=index">
												<div *ngIf="!checkFacet(facet.name,facetInner.name) && (i < 10 || facet.expanded)">
													<span class="clickable" (click)="setFacet(facet.name,facetInner.name)" [title]="facetInner.realName">{{ facetInner.realName.substring(0,30) }}<span *ngIf="facetInner.realName.length>30">...</span></span> ({{ facetInner.count }})
												</div>
												<div *ngIf="checkFacet(facet.name,facetInner.name) && (i < 10 || facet.expanded)">
													<span class="clickable" (click)="setFacet(facet.name,facetInner.name)" [title]="facetInner.realName"><b>{{ facetInner.realName.substring(0,30) }}<span *ngIf="facetInner.realName.length>30">...</span></b></span> ({{ facetInner.count }})
												</div>
											</div>
											<div *ngIf="facet.options.length>10">
												<hr>
												<span class="clickable" (click)="facet.expanded=!facet.expanded"><span *ngIf="!facet.expanded">Show more</span><span *ngIf="facet.expanded">Show less</span></span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<hr/>

						</div>

						<div *ngIf="checkCompCatCount()>0">

							<div class="pointer" (click)="showCompSection=!showCompSection">
								<h5>Product / Service Vendor Filters <span *ngIf="!showCompSection"><i class="fa fa-angle-double-down"></i></span><span *ngIf="showCompSection"><i class="fa fa-angle-double-up"></i></span></h5>
							</div>

							<div *ngIf="showCompSection">
								<div *ngFor="let facet of facetObj">
									<div *ngIf="facet.total > 0 && checkCompCat(facet.name)" class="card mb-3">
										<div class="card-header">
											{{ getName(facet.realName) }}
										</div>
										<div class="card-body">
											<div *ngFor="let facetInner of facet.options; let i = index">
												<div *ngIf="!checkFacet(facet.name,facetInner.name) && (i < 10 || facet.expanded)">
													<span class="clickable" (click)="setFacet(facet.name,facetInner.name)" [title]="facetInner.realName">{{ facetInner.realName.substring(0,30) }}<span *ngIf="facetInner.realName.length>30">...</span></span> ({{ facetInner.count }})
												</div>
												<div *ngIf="checkFacet(facet.name,facetInner.name) && (i < 10 || facet.expanded)">
													<span class="clickable" (click)="setFacet(facet.name,facetInner.name)" [title]="facetInner.realName"><b>{{ facetInner.realName.substring(0,30) }}<span *ngIf="facetInner.realName.length>30">...</span></b></span> ({{ facetInner.count }})
												</div>
											</div>
											<div *ngIf="facet.options.length>10">
												<hr>
												<span class="clickable" (click)="facet.expanded=!facet.expanded"><span *ngIf="!facet.expanded">Show more</span><span *ngIf="facet.expanded">Show less</span></span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<hr/>

						</div>

						<div *ngIf="checkCompCatCount()>0">

							<div class="pointer" (click)="showTrustSection=!showTrustSection">
								<h5>Rating / Trust Filters <span *ngIf="!showTrustSection"><i class="fa fa-angle-double-down"></i></span><span *ngIf="showTrustSection"><i class="fa fa-angle-double-up"></i></span></h5>
							</div>

							<div *ngIf="showTrustSection">
								<div class="card mb-3">
									<div class="card-header">
										Rating / Trust
									</div>
									<div class="card-body">
										<div class="mb-2">
											<div class="mb-2">
												{{ getName(product_vendor_rating,product_vendor) }}<br/>
												<ngb-rating [(rate)]="ratingOverall" max="5">
													<ng-template let-fill="fill">
														<span class="star star-b" [class.full]="fill === 100">
															<span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
														</span>
													</ng-template>
												</ngb-rating>
											</div>
											<div class="mb-2">
												{{ getName(product_vendor_rating_seller,product_vendor) }}<br/>
												<ngb-rating [(rate)]="ratingSeller" max="5">
													<ng-template let-fill="fill">
														<span class="star star-b" [class.full]="fill === 100">
															<span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
														</span>
													</ng-template>
												</ngb-rating>
											</div>
											<div class="mb-2">
												{{ getName(product_vendor_rating_fulfillment,product_vendor) }}<br/>
												<ngb-rating [(rate)]="ratingFulfillment" max="5">
													<ng-template let-fill="fill">
														<span class="star star-b" [class.full]="fill === 100">
															<span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
														</span>
													</ng-template>
												</ngb-rating>
											</div>
											<div class="mb-2">
												{{ getName(product_vendor_rating_delivery,product_vendor) }}<br/>
												<ngb-rating [(rate)]="ratingDelivery" max="5">
													<ng-template let-fill="fill">
														<span class="star star-b" [class.full]="fill === 100">
															<span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
														</span>
													</ng-template>
												</ngb-rating>
											</div>
											<div class="mb-2">
												{{ getName(product_vendor_trust,product_vendor) }}<br/>
												<ngb-rating [(rate)]="ratingTrust" max="5">
													<ng-template let-fill="fill">
														<span class="heart heart-b" [class.full-heart]="fill === 100">
															<span class="half-heart" [style.width.%]="fill">&#10084;</span>&#10084;
														</span>
													</ng-template>
												</ngb-rating>
											</div>
										</div>
										<button class="btn btn-primary" (click)="setTrustFilter()" [disabled]="!checkTrustFilter()">Apply</button>
										<button class="btn btn-secondary ml-2" (click)="resetTrustFilter()" [hidden]="!checkTrustFacet()">Reset</button>
									</div>
								</div>

							</div>

							<hr/>

						</div>

						<div *ngIf="checkOtherCatCount()>0">

							<div class="pointer" (click)="showOtherSection=!showOtherSection">
								<h5>Other Filters <span *ngIf="!showOtherSection"><i class="fa fa-angle-double-down"></i></span><span *ngIf="showOtherSection"><i class="fa fa-angle-double-up"></i></span></h5>
							</div>

							<div *ngIf="showOtherSection">
								<div *ngFor="let facet of facetObj">
									<div *ngIf="facet.total > 0 && checkOtherCat(facet.name)" class="card mb-3">
										<div class="card-header">
											{{ facet.realName }}
										</div>
										<div class="card-body">
											<div *ngFor="let facetInner of facet.options; let i = index">
												<div *ngIf="!checkFacet(facet.name,facetInner.name) && (i < 10 || facet.expanded)">
													<span class="clickable" (click)="setFacet(facet.name,facetInner.name)" [title]="facetInner.realName">{{ facetInner.realName.substring(0,30) }}<span *ngIf="facetInner.realName.length>30">...</span></span> ({{ facetInner.count }})
												</div>
												<div *ngIf="checkFacet(facet.name,facetInner.name) && (i < 10 || facet.expanded)">
													<span class="clickable" (click)="setFacet(facet.name,facetInner.name)" [title]="facetInner.realName"><b>{{ facetInner.realName.substring(0,30) }}<span *ngIf="facetInner.realName.length>30">...</span></b></span> ({{ facetInner.count }})
												</div>
											</div>
											<div *ngIf="facet.options.length>10">
												<hr>
												<span class="clickable" (click)="facet.expanded=!facet.expanded"><span *ngIf="!facet.expanded">Show more</span><span *ngIf="facet.expanded">Show less</span></span>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>

				<div class="col-8">

					<div *ngFor="let result of response">
						<div *ngIf="result.uri != null" class="card pointer mb-3">
							<a class="text-std" [routerLink]="['/product-details']" [queryParams]="{catalogueId: result.catalogueId, id: result.manufactuerItemId}">
								<div class="card-body">
									<div class="row">
										<div class="col-2 align-center">
											<img src="{{imageMap[result.uri]}}" class="thumb" onerror="this.src='assets/empty_img.png';"/>
										</div>
										<div class="col-6">
											<b>{{ getMultilingualLabel(result[product_name]) }}</b><br/>
											<small *ngIf="result.description">{{getMultilingualLabel(result[product_description])}}</small>
										</div>
										<div *ngIf="result[product_vendor]" class="col-2">
											<i>{{ result[product_vendor][product_vendor_name] }}</i>
											<div *ngIf="!checkNaN(result[product_vendor][product_vendor_rating])">
												<ngb-rating [rate]="calcRating(result[product_vendor][product_vendor_rating],1)" [readonly]="true" max="5" title="{{getName(product_vendor_rating,product_vendor)}}:&#10;{{calcRating(result[product_vendor][product_vendor_rating],1)}} out of 5&#10;&#10;{{getName(product_vendor_rating_seller,product_vendor)}}:&#10;{{calcRating(result[product_vendor][product_vendor_rating_seller],1)}} out of 5&#10;&#10;{{getName(product_vendor_rating_fulfillment,product_vendor)}}:&#10;{{calcRating(result[product_vendor][product_vendor_rating_fulfillment],1)}} out of 5&#10;&#10;{{getName(product_vendor_rating_delivery,product_vendor)}}:&#10;{{calcRating(result[product_vendor][product_vendor_rating_delivery],1)}} out of 5">
													<ng-template let-fill="fill">
													  <span class="star" [class.full]="fill === 100">
													    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
													  </span>
													</ng-template>
												</ngb-rating>
											</div>
											<div *ngIf="checkNaN(result[product_vendor][product_vendor_rating])">
												<ngb-rating [rate]="0" [readonly]="true" max="5" title="Unrated">
													<ng-template let-fill="fill">
													  <span class="star" [class.full]="fill === 100">
													    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
													  </span>
													</ng-template>
												</ngb-rating>
											</div>
											<div *ngIf="!checkNaN(result[product_vendor][product_vendor_trust])">
												<ngb-rating [rate]="calcRating(result[product_vendor][product_vendor_trust],5)" [readonly]="true" max="5" title="{{getName(product_vendor_trust,product_vendor)}}:&#10;{{calcRating(result[product_vendor][product_vendor_trust],5)}} out of 5">
													<ng-template let-fill="fill">
													  <span class="heart" [class.full-heart]="fill === 100">
													    <span class="half-heart" [style.width.%]="fill">&#10084;</span>&#10084;
													  </span>
													</ng-template>
												</ngb-rating>
											</div>
											<div *ngIf="checkNaN(result[product_vendor][product_vendor_trust])">
												<ngb-rating [rate]="0" [readonly]="true" max="5" title="Unrated">
													<ng-template let-fill="fill">
													  <span class="heart" [class.full-heart]="fill === 100">
													    <span class="half-heart" [style.width.%]="fill">&#10084;</span>&#10084;
													  </span>
													</ng-template>
												</ngb-rating>
											</div>
										</div>
										<div *ngIf="!result[product_vendor]" class="col-2">
											<i>Unknown</i>
										</div>
										<div class="col-2 align-right">
											<span class="badge badge-primary-nimble" *ngIf="result[product_price] && !checkEmpty(result[product_price])">{{roundToTwoDecimals(result[product_price][getCurrency(result[product_price])])}} {{getCurrency(result[product_price])}}</span>
											<span class="badge badge-warning" *ngIf="!result[product_price] || checkEmpty(result[product_price])">Upon request</span><br/>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div *ngIf="size>0" class="justify-content-center pagination">
						<ngb-pagination [(collectionSize)]="size" [(page)]="page" [maxSize]="5" [boundaryLinks]="true" (pageChange)="get(objToSubmit)"></ngb-pagination>
					</div>

				</div>

			</div>

		</div>
	</div>

</form>
