html, body {
    background-image: url('assets/bg_global.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

p {
  /*word-break: break-all;*/
  overflow-wrap: break-word;
}

.max-container {
  padding-top:15px;
  padding-bottom:15px;
  max-width: 100% !important;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.nimble-title {
    font-weight: 700;
    font-size: 2rem;
}

button, .btn {
    cursor: pointer;
}

button:disabled, .btn:disabled {
    cursor: not-allowed !important;
}

strong {
    font-weight: 500;
}

/*
Overwrite default values for Bootstrap buttons.
*/
.btn.btn-primary {
    color: #fff;
    border-color: #2980b9;
    background-color: #2980b9;
}

.btn.btn-primary:hover {
    color: #fff;
    background-color: #3090ce;
    border-color: #3090ce;
}

.btn.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(4, 80, 146, 0.58);
}

.btn.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #258cd1;
    border-color: #258cd1;
}

.btn.btn-primary:disabled {
    background-color: #909191;
    border-color: #909191;
}

.btn.btn-secondary {
    color: #fff;
    background-color: #464646;
    border-color: #464646;
}

.btn.btn-secondary:hover {
    background-color: #5c5b5b;
}

.btn.btn-secondary:active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
}

.btn.btn-danger {
    background-color: #b93829;
    border-color: #b93829;
}

.btn.btn-danger:hover {
    background-color: #de1a04;
    border-color: #d51904;
}

.btn.btn-outline-primary {
    color: #2980b9;
    background-color: transparent;
    background-image: none;
    border-color: #2980b9;
}

.btn.btn-outline-primary:hover {
    color: #fff;
    background-color: #258cd1;
    border-color: #258cd1;
}

.btn.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn.btn-outline-primary:active {
    color: #fff;
    background-color: #258cd1;
    border-color: #258cd1;
}

a.nav-link {
    color: #2980b9;
}
a.nav-link:hover {
    color: #002e60;
}
textarea {
    min-height: 2.375rem;
    resize: none;
}

textarea {
    min-height: 2.375rem;
}

#loading-icon {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
}

#loading-bg {
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background-color:rgba(255,255,255,0.7);
	z-index:9999;
}

#support-btn {
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	background-color: #b77563;
	z-index: 9998;
	cursor: pointer;
}

#support-img {
	height: 50px;
	width: 50px;
	margin-left: 10px;
	margin-top: 8px;
}

.nimble-bg {
    background-color: #b77563;
}

.nimble-col {
	border: 2px solid #b77563;
	border-radius: 0.25rem;
	padding: 0.5rem;
	text-align: center;
}

.space-before {
    margin-top: 1rem !important;
}

.space-after {
    margin-bottom: 1rem !important;
}

.space-left {
    margin-left: 0.5rem !important;
}

.space-right {
    margin-right: 0.5rem !important;
}

.icon-primary {
    color: #2980b9;
}

.icon-secondary {
    color: #a1a1a1;
}

.icon-red {
    color: #b93829;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

/*
.input-group-addon {
	width: 12rem;
	white-space: normal;
	word-wrap: break-word;
}
*/

.ng-valid[required], .ng-valid.required {
    border-right: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-right: 5px solid #a94442;
}

.align-center {
    text-align: center;
}

.inline-icon {
    max-height: 1rem;
    margin-top: -0.3rem;
    margin-right: 0.2rem;
}

.btn-img {
    max-height: 4rem;
    max-width: 100%;
    margin-right: 0.2rem;
    padding: 0.2rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.img-max {
    max-width: 100%;
    max-height: 15rem;
}

.img-med {
    max-width: 100%;
    max-height: 7rem;
}

.img-sm {
    max-height: 2rem;
    max-width: 100%;
    margin-top: -0.2rem;
}

.cont-max {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.bordered {
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-radius: 0.25rem !important;
    padding: 0.5rem !important;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.inline {
	display: inline-block !important;
}

.pointer {
    cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.navbar-inverse .navbar-nav .nav-link {
    color: white !important;
    opacity: 0.5 !important;
}

.navbar-inverse .navbar-nav .active > .nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open > .nav-link {
    opacity: 1 !important;
}

.nav-link.active {
    font-weight: 500;
}

.dropdown-item:hover {
  color: #292b2c !important;
	background-color: #ccc !important;
}

.dropdown-item.active, .dropdown-item:active {
	color: #fff !important;
	background-color: #b77563 !important;
}

.dropdown-menu-right {
  right: 0 !important;
  left: auto !important;
  position: absolute !important;
}

.flex-1 {
    flex: 1;
}

ngb-pagination nav.pagination {
    margin-bottom: 0 !important;
    -moz-box-pack: end;
    justify-content: flex-end;
}

ngb-pagination nav.pagination, .page-item, .page-link {
    background-color: #fff;
    color: #000;
}

ngb-pagination .page-item.active .page-link {
    border-color: #b77563;
    background-color: #b77563;
    color: #fff;
}

/* Bootstrap well */
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}

.well blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15)
}

.well-lg {
    padding: 24px;
    border-radius: 6px
}

.well-sm {
    padding: 9px;
    border-radius: 3px
}

.modal-dialog {
	max-width: 800px !important;
}

.tooltip-icon {
	position: absolute;
	right: 0;
	cursor: pointer;
}

.text-std, .text-std:focus, .text-std:hover {
	color: #292b2c !important;
	text-decoration: none !important;
}

/* ------------------- */

/* CSS Loader */
#sk-loading-icon {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -100px;
}

.sk-folding-cube {
  margin: 50px auto;
  width: 100px;
  height: 100px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b77563;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

/* ------------------- */

/* Floating BP actions */

.actions-row {
    padding: 0.3rem;
    align-items: center !important;
}

.actions-row .price-col {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.6rem;
    justify-content: flex-end;
}

.actions-row .price-col-negotiate {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.4rem;
    justify-content: flex-start;
    margin-left: 0.75rem;
}

.actions-row .call-status-col {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.actions-row .action {
    width: 100%;
    /*height: 100%;*/
    white-space: normal;
}

/* ------------------- */
